body {
    font-family: poppins, sans-serif;
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
    border-top: 5px solid transparent;
}


.border-top-cyan {
  border-top-color: hsl(180, 62%, 55%) !important;
}
.border-top-red {
  border-top-color: hsl(0, 78%, 62%) !important;
}
.border-top-orange {
  border-top-color: hsl(34, 97%, 64%) !important;
}
.border-top-blue {
  border-top-color: hsl(212, 86%, 64%) !important;
}


@media (max-width: 991px) {
  .custom-layout {
    flex-direction: column;
    align-items: center;
  }
}
